{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for event in object_list %}
    <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">123</text></svg>
            <div class="card-body">
              <p class="card-text">Текст.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подать заявку</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Отзывы</button>
                </div>
                <small class="text-body-secondary">27.05.2024</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">123</text></svg>
            <div class="card-body">
              <p class="card-text">Текст.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подать заявку</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Отзывы</button>
                </div>
                <small class="text-body-secondary">24.05.2024</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">123</text></svg>
            <div class="card-body">
              <p class="card-text">Текст.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подать заявку</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Отзывы</button>
                </div>
                <small class="text-body-secondary">20.05.2024</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<div class="d-flex justify-content-center">
<div class="card" style="width: 450px; padding: 20px">
<div class="card-body">
<h1>Добавить мероприятие</h1>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
<button type="" class="btn btn-primary" ">Добавить мероприятие</button>
</form>
</div>
</div>
</div>
{% endblock %}
