{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="container px-4">
<div class="d-flex justify-content-center">
<div class="card" style="width: 450px; padding: 20px">
<div class="card-body">
<div class="form-group">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Зарегистрироваться</button>
        </div>
    </form>

</div>
    </div>
    </div>
</div>

{% endblock %}